:root { 
--gray_50_01:#fffafa; 
--green_200:#85e0a3; 
--gray_50_02:#fffbfb; 
--gray_500:#a09a9a; 
--gray_900:#222222; 
--light_blue_400:#19bcfd; 
--gray_50:#fcf8ff; 
--orange_100:#fdddbf; 
--gray_300_cc:#e2ddddcc; 
--black_900_01:#0e0e0e; 
--black_900:#000000; 
--deep_orange_300:#ff7262; 
--white_A700:#ffffff; 
--indigo_500:#50589f; 
}